.add_trip-blur {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.add_trip-form {
    --_form-border: 1px solid #eeeeee;
    background-color: white;
    width: 100%;
    max-width: 620px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.add_trip-form > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--_form-border);
    font-size: 0.9375rem;
    font-weight: 700;
    color: black;
    padding: var(--add-trip-header-padding);
}
.form_title {
    margin: 0;
}
.add_trip-form > .header > input[type='button'] {
    border: none;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 1em;
    color: #8c8c8c;
    transition: 200ms ease-in-out;
}

.add_trip-form > .header > input[type='button']:hover {
    background-color: #cecece;
    color: black;

}

.add_trip-form > .header > input[type='button']:active {
    background-color: transparent;
    transition: none;
}

.add_trip-form > .main {
    display: flex;
    flex-direction: column;
    row-gap: 0.6875rem;
    padding: var(--add-trip-main-padding);
}

.add_trip-form > .main > .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.6875rem;
}

.add_trip-form > .main > .content > p {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 600;
    color: black;
}

.add_trip-form > .main > .content > p span {
    margin: 0;
    color: #fc3030;
}


.add_trip_date-input {
    border-radius: 2px;
    border: var(--_form-border) !important;
    width: 100%;
    font-weight: 500;
    font-size: 0.9375rem;
    padding: 0.68em 0.87em;
    min-height: 40px;
    color: #8c8c8c;
}

.add_trip-form > .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 0.5rem;
    padding: var(--add-trip-footer-padding);
    border-top: var(--_form-border);
    border-radius: 2px;
}
