*{
    box-sizing: border-box;
    font-family: Inter, serif;
}
html, body,  #root, main{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    /*border: 1px dashed #55606e;*/
}
input:not([type="radio"]):not([type="checkbox"]){
    outline: none !important;
    /* border: none; */
    -webkit-appearance: none;
}
input:hover{
    /*cursor: pointer;*/
}
body{
    /*background-color: #5d82a6;*/
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
#root{
    display: flex;
    /*flex-direction: column;*/
    gap: 20px;
}
.main_app-layout{
    display: flex;
    flex-direction: row;
}
.main_app-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
}
.main_app-section-desktop{
    width: 70%;
}
.main_app-section-mobile{
    width: 100%;
}
.main_app-section > header{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--main-row-gap-large);
    padding: var(--main-layout-padding-large) var(--main-layout-padding-small) var(--main-row-gap-medium) var(--main-layout-padding-small);
}
.main_app-section > header > h1{
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
}
.main_header_wrapper{
    display: flex;
    flex-direction: row;
    height: max-content;
    column-gap:  var(--main-layout-padding-small);
}
.main_app_aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: min-content;
    background-color: #110E3B;
    padding: 35px;
    row-gap: 140px;
    font-size: 1rem;
}
.main_app_aside-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #110E3B;
    font-size: 0.57rem;
    row-gap: 1.5rem;
    padding: 2rem 1.25rem;
    margin-top: var(--main-layout-padding-small);
}
.country_scroll-list{
    width: 100%;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
}
.country_scroll-list-btn{
    height: max-content;
    min-width: max-content;
    padding-right: var(--main-layout-padding-small);;
}
.weather_scroll-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--main-row-gap-large);
    margin-top: var(--main-layout-padding-small);
    margin-bottom: 38px;
}
.weather_scroll-list > h2{
    margin: 0;
    font-size: 1.125rem;
    letter-spacing: -0.05em;
    color: #363B64;
    margin-left: var(--main-layout-padding-small);
    font-weight: 600;
}