@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;900&display=swap");

:root{
    --main-layout-padding-large: 40px;
    --main-layout-padding-small: 35px;
    --scroll-list-gap: 50px;
    --main-row-gap-large:50px;
    --main-row-gap-medium:45px;
    --main-row-gap-small:35px;
    --add-trip-header-padding: 1.3em 1.7em;
    --add-trip-main-padding: 4.375rem 1.5625rem;
    --add-trip-footer-padding: 1.25rem 1.5625rem;
}

@media screen and (max-width: 660px) {
    :root{
        --main-layout-padding-large: 25px;
        --main-layout-padding-small: 20px;
        --scroll-list-gap: 20px;
        --main-row-gap-large:30px;
        --main-row-gap-medium:25px;
        --main-row-gap-small:15px;
        --add-trip-header-padding: 1.3rem 1.2rem;
        --add-trip-main-padding: 1.875rem 1rem;
        --add-trip-footer-padding: 1rem 1rem;

    }
}